# Yarn Berry gitignore 
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build Artifacts
dist
dist-ssr

# Environment Variables
.env*
!.env.example

# Local
*.local