# Build Artifacts
dist
dist-ssr

# Environment Variables
.env*
!.env.example

# Local
*.local

# Node Modules
# Some libraries creates the folder like vite
node_modules


# Local Netlify folder
.netlify

src/i18n/locales/*.json
