/* caramel-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Caramel';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/caramel-v7-latin-regular.eot');
  src:
    url('/fonts/caramel-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/caramel-v7-latin-regular.woff2') format('woff2'),
    url('/fonts/caramel-v7-latin-regular.woff') format('woff'),
    url('/fonts/caramel-v7-latin-regular.ttf') format('truetype'),
    url('/fonts/caramel-v7-latin-regular.svg#Caramel') format('svg');
}
