#SummaryPage {
  display: flex !important;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  gap: 1%;
}


.Display {
  display: flex !important;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
}

.Sub.Display {
  padding-bottom: 1%;
  border-bottom: 2px solid;
  border-radius: 2px
}

.Display.Responsive {
  flex-flow: column nowrap;
}

.Display.Secondary {
  flex-flow: row nowrap;
}

.Display.Secondary.Text {
  gap: 1rem;
}

.time-desc {
  width: 30%;
  text-align: right;
  flex-grow: 1;
}


@media (orientation: landscape) {
  .Display.Responsive {
    flex-flow: row nowrap;
  }

  .time-desc {
    width: 100%;
    text-align: center;
  }

  
  .Display.Secondary.Responsive {
    flex-flow: column nowrap;
  }
}

.fillerText {
  white-space: nowrap;
  font-size: var(--font-size-medium);
  font-family: 'Bubblegum Sans', cursive;
}

.Sub .fillerText {
  font-size: var(--font-size-small);
}

.fillerText.xs {
  font-size: var(--font-size-xsmall);
}

.fillerText.xxs {
  font-size: var(--font-size-xxsmall);
}

.Status {
  font-size: var(--font-size-large);
  font-family: 'Bubblegum Sans', cursive;
} 

.Sub .Status {
  font-size: var(--font-size-medium);
}

.Shard {
  font-size: var(--font-size-xlarge) !important;
  font-family: 'Lobster', cursive !important;
  text-decoration-line: underline;
}

.Red.Shard {
  color: red;
}

.Black.Shard {
  color: black;
}

.Map {
  font-size: var(--font-size-large) !important;
  font-family: 'Lobster', cursive !important;
}

.Realm {
  font-size: var(--font-size-medium) !important;
  font-family: 'Lobster', cursive !important;
}