.Clock {
  --clock-font-size: var(--font-size-medium);

  font-family: 'Orbitron', sans-serif;
  font-size: var(--clock-font-size);
  display: block;
}

.Clock.Monospace {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.Clock.Monospace > span {
  width: calc(var(--clock-font-size) * 0.85);
  padding: 0;
  text-align: center;
}