#ShardLandEndCountdown {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#ShardInfoDisplay {
  display: block;
  text-align: center;

  font-size: var(--font-size-small);
  font-family: 'Bubblegum Sans', cursive;
}

#ShardInfoDisplay .Date {
  display: inline;
}

#ShardLandEndCountdown {
  font-size: var(--font-size-small);
  font-family: 'Bubblegum Sans', cursive;
  border-top: 1px solid white;
  width: 100%;
}

.Emphasized {
  display: inline;
  font-weight: 600;
  font-size: var(--font-size-medium);
  white-space: nowrap;
}

.Full {
  display: none;
}

.Nick {
  display: inline;
}

.Red {
  color: red;
}

.Black {
  color: black;
}

.AbsoluteTime {
  display: flex;
  flex-flow: column nowrap;
}

#ShardLandEndCountdown .smaller {
  font-size: var(--font-size-xsmall);
}

.AbsTimeGrp,
.AbsTime {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
}

.AbsTimeGrp > * {
  flex: 1 1 auto;
}

.AbsTime > .Date,
.AbsTime > .Clock {
  --date-font-size: var(--font-size-medium);
  --clock-font-size: var(--font-size-medium);
}

@media (min-width: 480px) {
  .Full {
    display: inline;
  }

  .Nick {
    display: none;
  }

  .AbsTimeGrp {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  #ShardLandEndCountdown .Date,
  #ShardLandEndCountdown .Clock {
    --date-font-size: var(--font-size-small);
    --clock-font-size: var(--font-size-small);
  }
}
