#HomePage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#SwipeRightHint {
  position: absolute;
  width: 40px;
  height: 100%;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#SwipeRightHint > span:first-child {
  font-size: var(--font-size-xsmall);
  font-family: 'Bubblegum Sans', cursive;
  writing-mode: vertical-rl;
}

#SwipeLeftHint {
  position: absolute;
  width: 40px;
  height: 100%;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#SwipeLeftHint > span:last-child {
  font-size: var(--font-size-xsmall);
  font-family: 'Bubblegum Sans', cursive;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
