.ShardPage {
  --nav-hint-height: 30px;
  gap: 0.2rem;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: var(--nav-hint-height) auto var(--nav-hint-height);
  grid-template-areas: 'leftNavHint shardContent rightNavHint';

  font-size: var(--font-size-400);

  height: 100%;
  width: 100%;

  justify-items: center;
  align-items: center;
  text-align: center;

  overflow: hidden;
  padding: 0.5rem;
}

#topNavHint {
  grid-area: topNavHint;
  flex-direction: column;
}

#topNavHint > .navHintArrow {
  transform: rotate(90deg);
}

#bottomNavHint {
  grid-area: bottomNavHint;
  flex-direction: column-reverse;
}

#bottomNavHint > .navHintArrow {
  transform: rotate(-90deg);
}

#leftNavHint {
  grid-area: leftNavHint;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
}

/* #leftNavHint > .navHintArrow {
  transform: rotate(0deg);
} */

#rightNavHint {
  grid-area: rightNavHint;
  writing-mode: vertical-rl;
  flex-direction: column;
}

#rightNavHint > .navHintArrow {
  transform: rotate(180deg);
}

#rightNavHint > .navHintText {
  transform: rotate(180deg);
}

.navHint {
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  gap: 2px;

  font-family: 'Bubblegum Sans', cursive;
  font-size: var(--font-size-200);
  white-space: nowrap;
}

.navHint.disabled {
  display: none;
}

#shardContent {
  grid-area: shardContent;
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#shardContent::-webkit-scrollbar {
  display: none;
}

/* Summary Section */

#shardSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 0.2rem;
  min-height: 85vh;
  transition: transform 0.5s ease-in-out;
}

#shardTiming {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    'countdown'
    'absLocal'
    'absSky';
  column-gap: 5%;
  align-items: center;
  justify-content: center;
}

#shardSummary .Clock,
#shardSummary .Date,
#shardSummary .Emphasized {
  font-size: var(--font-size-300);
  font-weight: 800;
}

.Demphasized {
  font-size: var(--font-size-200);
  font-weight: 400;
}

#shardCountdown {
  grid-area: countdown;
}

#shardAbsLocal {
  grid-area: absLocal;
}

#shardAbsSky {
  grid-area: absSky;
}

.Full {
  display: none;
}

.Nick {
  display: inline;
}

.Red {
  color: #e2252b;
}

.Black {
  color: black;
}

@media (min-width: 480px) and (orientation: landscape) {
  #shardTiming {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      'countdown countdown'
      'absLocal absSky';
  }

  .Full {
    display: inline;
  }

  .Nick {
    display: none;
  }
}

/* Full Shard Schedule */
#shardTimeline {
  min-width: 90%;

  font-size: var(--font-size-100);
}

#shardTimeline > .title {
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: 2px;
}

.timelines {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  text-align: left;
}

.timeline-header {
  margin-bottom: 0.2rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(192, 192, 192, 0.3);
}

.timeline-header-text {
  display: flex;
  flex-flow: column wrap;
  column-gap: 20px;
  align-items: flex-start;
}

.timeline-header .title {
  font-weight: 600;
  font-size: var(--font-size-300);
}

.timeline-header .mini-clock {
  padding-top: 0.08px;
  font-size: var(--font-size-200);
}

.timeline {
  display: flex;
  flex-flow: column nowrap;
  --clock-font-size: var(--font-size-100);
}

.timeline-item {
  flex-grow: 1;
}

.timeline-item:not(:last-child) {
  border-left: 1px solid white;
}

.timeline-item:last-child {
  margin-left: 1px;
}

.timeline-item-dot {
  position: relative;
  top: -4px;
  left: -5px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--color-secondary);
}

.timeline-item-content {
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  top: -14px;
  margin-left: 0.5rem;
}

#shardTimeline .timeline-item-header {
  font-size: var(--font-size-300);
  font-weight: 400;
  width: 100%;
}

@media (min-width: 480px) and (orientation: landscape) {
  .timeline {
    flex-flow: row nowrap;
  }

  .timeline-item:not(:last-child) {
    border-left: unset;
    border-top: 1px solid white;
  }

  .timeline-item:last-child {
    margin-left: unset;
  }

  .timeline-item-dot {
    top: -5px;
    left: unset;
  }

  .timeline-item-content {
    top: -6px;
  }
  .timeline-header-text {
    flex-flow: row wrap;
  }
}
