@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color-primary: #242424;
  --color-secondary: #fffd;

  --header-height: 12vh;
  --header-padding-X: 20px;
  --header-padding-top: 5px;
  --header-background-color: rgba(0, 0, 0, 0.1);

  --footer-height: 24vh;
  --footer-padding-X: 10px;
  --footer-padding-bottom: 5px;
  --footer-background-color: rgb(44, 44, 44);

  --app-title-font-size: 2.4rem;
  --app-title-font-weight: 800;
  --app-title-font-color: var(--color-secondary);

  --page-width: 100%;
  --page-max-width: 100%;
  --page-padding: 0px;
  --page-margin-X: calc(50% - var(--page-max-width) / 2);
  --page-margin-top: calc(var(--header-height) + var(--header-padding-top));
  --page-margin-bottom: calc(var(--footer-height) + var(--footer-padding-bottom));

  --font-size-xlarge: min(10vh, 10vw);
  --font-size-large: min(8vh, 8vw);
  --font-size-medium: min(6vh, 6vw);
  --font-size-small: min(4vh, 4vw);
  --font-size-xsmall: min(2vh, 2vw);
  --font-size-xxsmall: min(1vh, 1vw);

  background-image: url('/backgrounds/SkyBackgroundDark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  background-attachment: fixed;
}

body.light {
  /* --color-primary: #659cbb; */
  --color-secondary: #fffd;

  --header-background-color: rgba(0, 0, 0, 0.5);
  --footer-background-color: rgb(0, 0, 0, 0.5);

  --app-title-font-color: var(--color-secondary);

  background-position: 10% center;
  background-image: url('/backgrounds/SkyBackgroundLight.jpg');
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

@media (orientation: landscape) and (min-width: 420px) {
  body {
    --page-width: 80%;
    --footer-height: 18vh;
  }
}

@media screen and (min-height: 480px) and (max-width: 420px) {
  body {
    --footer-height: 40vh;
  }
}

@media screen and (min-height: 768px) {
  body {
    --footer-height: 20vh;
  }
}

.App-header {
  top: 0;
  left: 1px;
  right: 1px;
  height: var(--header-height);
  padding: var(--header-padding-top) var(--header-padding-X) 5 var(--header-padding-X);
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
}

.App-title {
  flex: 0 0 40%;
  font-size: var(--app-title-font-size);
  font-weight: var(--app-title-font-weight);
  color: var(--app-title-font-color);
  font-family: 'Caramel', cursive;
  text-align: left;
  cursor: pointer;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 300px) {
  .App-title {
    font-size: 1.8rem;
  }
}

.App-header-buttons {
  display: flex;
  flex: 0 0 25%;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
  gap: 0.8rem;
  margin-right: 0.5rem;
}

.App-theme-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  color: var(--color-secondary);
}

.App {
  position: absolute;
  top: var(--page-margin-top);
  left: var(--page-margin-X);
  right: var(--page-margin-X);
  bottom: var(--page-margin-bottom);
  padding: var(--page-padding);
  overflow: auto;
  color: var(--color-secondary);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.App > * {
  width: var(--page-width);
  height: 100%;
}

.App-footer {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  height: var(--footer-height);
  padding: 0 var(--footer-padding-X) var(--footer-padding-bottom) var(--footer-padding-X);
  background-color: var(--footer-background-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  gap: 1px;
  border-radius: 10px;
}

.App-footer div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.link > *::after:not(:last-child) {
  content: ', ';
  margin: 0 0.2rem;
}

.credits {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: var(--color-secondary);
  margin: 0 0.2rem;
}

.credits > * {
  margin: 0 0.2rem;
}

/* .App-footer > * {
  width: 100%;
  height: 100%;
} */

a {
  text-decoration: underline;
  color: blue;
}

a:visited {
  text-decoration: underline;
  color: orange;
}
