body {
  --color-primary: #242424;
  --color-secondary: #fffd;

  --header-height: 4%;
  --header-padding-X: 10px;
  --header-padding-top: 5px;
  --header-background-color: rgba(0, 0, 0, 0.1);

  --footer-height: 6%
  --footer-padding-X: 10px;
  --footer-padding-bottom: 5px;
  --footer-background-color: rgba(0, 0, 0);

  --app-title-font-size: 2.4rem;
  --app-title-font-weight: 800;
  --app-title-font-color: var(--color-secondary);

  --page-width: 100%;
  --page-max-width: 100%;
  --page-padding: 0px;
  --page-margin-X: calc(50% - var(--page-max-width) / 2);
  --page-margin-top: calc(var(--header-height) + var(--header-padding-top));
  --page-margin-bottom: 1rem;

  --font-size-xlarge: min(10vh, 10vw);
  --font-size-large: min(8vh, 8vw);
  --font-size-medium: min(6vh, 6vw);
  --font-size-small: min(4vh, 4vw);
  --font-size-xsmall: min(2vh, 2vw);
  --font-size-xxsmall: min(1vh, 1vw);
}

body.light {
  --color-primary: #fff;
  --color-secondary: #fffd;

  --header-background-color: rgba(255, 255, 255, 0.1);

  --app-title-font-color: var(--color-secondary);
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

@media (orientation: landscape) {
  body {
    --page-width: 80%;
    /* --page-max-width: 70%; */
  }
}

.App-header {
  top: 0;
  left: 1px;
  right: 1px;
  height: var(--header-height);
  padding: var(--header-padding-top) var(--header-padding-X) 0 var(--header-padding-X);
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.App-title {
  flex: 0 0 40%;
  font-size: var(--app-title-font-size);
  font-weight: var(--app-title-font-weight);
  color: var(--app-title-font-color);
  font-family: 'Caramel', cursive;
  text-align: left;
  cursor: pointer;
}

@media only screen and (max-width: 300px) {
  .App-title {
    font-size: 1.8rem;
  }
}

.App-header-buttons {
  display: flex;
  flex: 0 0 25%;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
  gap: 0.8rem;
  margin-right: 0.5rem;
}

.App-theme-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  color: var(--color-secondary);
}

.App {
  position: absolute;
  top: var(--page-margin-top);
  left: var(--page-margin-X);
  right: var(--page-margin-X);
  bottom: var(--page-margin-bottom);
  padding: var(--page-padding);
  margin-top: var(--page-margin-top);
  overflow: auto;
  color: var(--color-secondary);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.App > * {
  width: var(--page-width);
  height: 100%;
}
