@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --color-primary: #242424;
  --color-secondary: #fffd;

  --header-height: clamp(24px, 10vh, 56px);
  --footer-height: clamp(50px, 14vh, 84px);

  --glass-backdrop-filter: blur(10px);
  --glass-background-color: rgba(128, 128, 128, 0.3);
  --glass-border-radius: 20px;

  background-image: url('/backgrounds/SkyBackgroundDark.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  background-attachment: fixed;

  background-color: var(--color-primary);
  color: var(--color-secondary);

  --font-size-base: min(5vh, 5vw);
  --font-size-adjust: min(1vh, 1vw);

  --font-size-100: calc(var(--font-size-200) - var(--font-size-adjust));
  --font-size-200: calc(var(--font-size-300) - var(--font-size-adjust));
  --font-size-300: calc(var(--font-size-400) - var(--font-size-adjust));
  --font-size-400: calc(var(--font-size-500) - var(--font-size-adjust));
  --font-size-500: var(--font-size-base);
  --font-size-600: calc(var(--font-size-500) + var(--font-size-adjust));
  --font-size-700: calc(var(--font-size-600) + var(--font-size-adjust));
  --font-size-800: calc(var(--font-size-700) + var(--font-size-adjust));
  --font-size-900: calc(var(--font-size-800) + var(--font-size-adjust));
}

body.light {
  --color-secondary: #fffd;

  --glass-backdrop-filter: blur(10px);
  --glass-background-color: rgba(64, 64, 64, 0.2);
  --glass-border-radius: 10px;

  background-position: 10% center;
  background-image: url('/backgrounds/SkyBackgroundLight.webp');
}

.App {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;

  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

#header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Caramel', cursive;
  text-align: left;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-bottom: 3px;
}

#header-buttons {
  display: flex;
  flex-flow: row nowrap;
  place-items: center right;
  gap: 0.8rem;
  margin-right: 0.5rem;
}

.header-buttons > button {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  color: var(--color-secondary);
}

#footer {
  grid-area: footer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.glass {
  background-color: var(--glass-background-color);
  backdrop-filter: var(--glass-backdrop-filter);
  border-radius: var(--glass-border-radius);
  padding: 5px 20px;
  border: 1px solid rgba(192, 192, 192, 0.2);
}

.Page {
  grid-area: main;
}

a {
  text-decoration: underline;
  color: blue;
}

a:visited {
  text-decoration: underline;
  color: orange;
}
